// STYLE JUMBOTRON GENERAL 
header .jumbotron{
    width: 100%;
    background-image: url(https://www.painterartist.com/static/ptr/images/home/bg-painter-home.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: calc(#{$padding-10 * 8});

    // title jumbo box 
    .title{
        @include flexBox;

        h1{
            font-size: 70px;
        }

        span{
            margin-top: -15px;
        }

        h3{
            font-size: 35px;
            margin-top: 25px;
            margin-left: 10px;
        }
    }
    //end title jumbo box 
    
    // style text jumbo 
    p{
        width: calc(#{$w-100px *6});
        font-size: 25px;
        margin: calc(#{$margin-10} * 3) 0px;
    }

    strong{
        font-size: 20px;
        color: $purple;
    }

    .colored{
        width: calc(#{$w-100px *5});
        color: $purple;
        font-size: 17px;
        margin: 10px 0px 30px;
    }
    //end style text jumbo 

}
//END STYLE JUMBOTRON GENERAL 