// Colori 
$black : black;
$white: white;
$purple: #c70cb9;
$colorIcons: #009cff;
$colorBack: #e8e8e8;

// Height & width 
$h-50px:50px;
$h-100px: 100px;
$w-100: 100%;
$w-100px: 100px;

// Margin & Padding
$margin-10: 10px;
$margin-20: 20px;
$margin-50: 50px;
$padding-10: 10px;
$padding-20: 20px;

// Text format 
$textDecoration: underline;
$center: center;